<h1>Welcome to ClickExpress</h1>

<h2>Hello, {{user.username}}!</h2>

<br>

<h3>Your last choice: <span ng-bind="label"></span> </h3>

<br>
<br>

<button ng-click="clickChoose(1)" type="button" class="btn btn-default btn-lg btn-danger">
  A
</button>

<button ng-click="clickChoose(2)" type="button" class="btn btn-default btn-lg btn-primary">
  B
</button>

<button ng-click="clickChoose(3)" type="button" class="btn btn-default btn-lg btn-success">
  C
</button>

<button ng-click="clickChoose(4)" type="button" class="btn btn-default btn-lg btn-warning">
  D
</button>

<button ng-click="clickChoose(5)" type="button" class="btn btn-default btn-lg btn-info">
  E
</button>

<br>
<br>


<!--
<a href="/logout">Logout<a/>
-->
