<section ng-app="myApp" ng-controller="clickCtrl">
    <div id="space-for-questions"></section>
</section>

<!--
	
<h3>Quiz: <span ng-bind="quiz"></span> </h3>
<br>
<h3>Your Choice: <span ng-bind="label"></span> </h3>


<br>
<br>

<button ng-disabled="isWaiting" ng-click="clickChoose(1)" type="button" class="btn btn-default btn-lg btn-danger">
A
</button>

<button ng-disabled="isWaiting" ng-click="clickChoose(2)" type="button" class="btn btn-default btn-lg btn-primary">
B
</button>

<button ng-disabled="isWaiting" ng-click="clickChoose(3)" type="button" class="btn btn-default btn-lg btn-success">
C
</button>

<button ng-disabled="isWaiting" ng-click="clickChoose(4)" type="button" class="btn btn-default btn-lg btn-warning">
D
</button>

<button ng-disabled="isWaiting" ng-click="clickChoose(5)" type="button" class="btn btn-default btn-lg btn-info">
E
</button>

<br>
<br>

-->

