<h1>Welcome to ClickExpress</h1>

{{#if user}}
  <p>Hello, {{user.username}}! </p>
  <a href="/logout">Logout<a/>
{{else}}
  <a href="/login">Login<a/>
  <br>
  <a href="/register">Register<a/>
{{/if}}
