

<div ng-controller="instructorClickCtrl">
	<p><label for="question">Time (sec)</label>	
	<div bs-dropdown 
		 bs-dropdown-display="TimesDropDown" 
		 bs-dropdown-items="times" 
		 ng-model="selectedTime" 
		 ng-change="changeTime()">
	</div></p>
	
	<p><label for="question">Post a Question</label></p>
	<p><textarea class="form-control" ng-model="text" btf-markdown rows="4"></textarea></p>
	<hr>
	<p><label>Preview</label></p>
	<p ng-bind-html="preview()"></p>
	<hr>
	<!--<p><button ng-submit="submit()" class="btn btn-default">Submit</button>-->
	<p><button class="btn btn-default" ng-click="submit()">Submit</button></p>
	
</div>
