
<form ng-submit="submit()" ng-controller="clickCtrl">
	<p><label for="question">Post a Question</label></p>
	<p><textarea class="form-control" type="text" ng-model="text" name="text" rows="5"></textarea></p>
	<p><button class="btn btn-default">Submit</button>
</form>
