<h1>View Clicks </h1>

{{#if error }}
  <p>Oops, cannot find any clicks, because I hit an error!</>
  <p> {{ error }} </p>
{{else}}
  <a href="/register">Register<a/>
  <br>
  <ul>
    {{#each people}}
    <li>{{this.choice}} at {{ this.submitTime }}</li>
    {{/each}}
  </ul>

{{/if}}
