body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.jumbotron {
    padding-top: 5px;
    padding-bottom: 5px;
}



/*

    The following is from: http://work.smarchal.com/twbscolor/
    
*/

.navbar-default {
  background-color: #59b6a6;
  border-color: #3fa39f;
}
.navbar-default .navbar-brand {
  color: #e9edee;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #e9edee;
}
.navbar-default .navbar-nav > li > a {
  color: #e9edee;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #3fa39f;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #3fa39f;
}
.navbar-default .navbar-toggle {
  border-color: #3fa39f;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #3fa39f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #e9edee;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e9edee;
}
.navbar-default .navbar-link {
  color: #e9edee;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #e9edee;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #3fa39f;
  }
}



