

/*
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.jumbotron {
    padding-top: 5px;
    padding-bottom: 5px;
}
*/



/* Sqeeze table into its container */
.table-nonfluid {
   width: auto !important;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
}

.classWithPad { margin:3px; padding:3px; }

