
<div class="row">
    <div class="col-md-6">
        <label>Select a quiz</label>
        <md-button ng-repeat="quiz in quizzes" flex class="md-raised" style="white-space: normal; text-align: left;" ng-click="selectQuiz($index)">
            <b>Quiz {{$index + 1}}</b><br/><i>{{quiz.description}}</i>
        </md-button>
        
    </div>
    <div class="col-md-6">
        <label>Or</label>
        <md-button class="md-raised" style="white-space: normal; text-align: left;" ng-click="createQuiz()">
            <b>Create a new quiz</b>
        </md-button>
    </div>
</div>
        