<div ng-controller="createQuizCtrl">

    <div class="padded" md-whiteframe="3">
    
        <div ng-cloak>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="edit">
                    <md-content class="md-padding">
                    <!--<h1 class="md-display-2">Tab One</h1>-->

                    <!--Text description-->
                        <textarea class="form-control"
                                ng-model="textarea"
                                ng-disabled="saving"
                                ng-change="onDescriptionChange()"
                                btf-markdown
                                rows="6"
                                placeholder="Enter a question">
                        </textarea>

                        <br/>
                    
                        <!--Choices-->
                        <div class="form-group" data-ng-repeat="choice in choices">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="input-group">
                                        <span class="input-group-btn" data-toggle="buttons">
                                            <button class="btn"
                                                    type="radio"
                                                    ng-model="correctChoice.index"
                                                    ng-disabled="saving"
                                                    ng-click="correctChoiceSelected($index)"
                                                    ng-cloak
                                                    uib-btn-radio="charFromInt($index)">{{ charFromInt($index) }}</button>
                                        </span>
                                        <input type="text"
                                                class="form-control"
                                                ng-style="choiceStyle[$index]"
                                                ng-model="choice.text"
                                                ng-disabled="saving"
                                                ng-cloak
                                                placeholder="Enter a choice">
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div>
                        </div>
                        
                        <!--Add/remove options-->
                        <md-button class="md-raised" ng-disabled="saving" ng-click="addNewChoice()">
                            <span class="glyphicon glyphicon-plus"/>
                        </md-button>
                        <md-button class="md-raised" ng-disabled="saving" ng-click="removeLastChoice()">
                            <span class="glyphicon glyphicon-minus"/>
                        </md-button>
                        

                    </md-content>
                </md-tab>
                <md-tab label="preview">
                    <md-content class="md-padding">
                    <!--<h1 class="md-display-2">Tab Two</h1>-->
                    <!--Preview-->
                        <div class="panel-body">
                            <p><span ng-bind-html="preview()"></span></p>
                        </div>
                    </md-content>
                </md-tab>

                </md-tabs>
            </md-content>            
    
        </div>
        
        <div class="bottom-sheet-demo inset" layout="row" layout-sm="column">
            <md-button class="md-raised" ng-click="saveQuiz()">Commit question</md-button>
            <md-button class="md-warn md-raised" ng-click="clearForms()">Clear forms</md-button>
        </div>
 
    </div>

</div>