<h1>About ClickExpress</h1>

<h2>Tip of the day: {{{tip}}}</h2>

<br>
<br>
<br>

<i>Wasn't that informative!</i>

<!-- BEGIN: angular demo-->
<br>
<br>

<button ng-click="count = count + 1" ng-init="count=0">Increment</button>

<br>
<br>

<span>
  <b>count:</b>
  <span ng-bind="label"></span>
  <span ng-bind="count"></span>
</span>
<!-- END: angular demo -->
