

<section ng-controller="classSelectionCtrl as selector">

    <div style="width: 50%;">
        <p>Select class</p>
        <p ng-repeat="course in courseList">                                    
            <button class="btn btn-block btn-default" type="button"
                    style="white-space: normal; text-align: left;"
                    ng-cloak
                    ng-disabled="selectedCourse"
                    ng-click="selector.selectCourse(course)"><b>\{{ course }}</b>
            </button>                            
        </p>
    </div>

</section>

