<div ng-controller="createQuizCtrl">
    <div class="container">
 
    <!--http://bootsnipp.com/snippets/6lW6K-->
    
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#edit" data-toggle="tab">Edit</a></li>
                    <li><a href="#preview" data-toggle="tab">Preview</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="edit">

                        <!--Text description-->
                        <textarea class="form-control"
                                ng-model="textarea"
                                ng-disabled="saving"
                                ng-change="onDescriptionChange()"
                                btf-markdown
                                rows="6"
                                placeholder="Enter a question">
                        </textarea>

                        <br/>
                    
                        <!--Choices-->
                        <div class="form-group" data-ng-repeat="choice in choices">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="input-group">
                                        <span class="input-group-btn" data-toggle="buttons">
                                            <button class="btn btn-default"
                                                    type="radio"
                                                    ng-model="correctChoice.index"
                                                    ng-disabled="saving"
                                                    ng-click="correctChoiceSelected($index)"
                                                    ng-cloak
                                                    uib-btn-radio="charFromInt($index)">\{{ charFromInt($index) }}</button>
                                        </span>
                                        <input type="text"
                                                class="form-control"
                                                ng-style="choiceStyle[$index]"
                                                ng-model="choice.text"
                                                ng-disabled="saving"
                                                ng-cloak
                                                placeholder="Enter a choice">
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div>
                        </div>
                        
                        <!--Add/remove options-->
                        <button class="btn btn-default" ng-disabled="saving" ng-click="addNewChoice()" 
                                tooltip-class="btn" tooltip-placement="bottom" uib-tooltip="Add choice">
                            <span class="glyphicon glyphicon-plus"/>
                        </button>
                        <button class="btn btn-default" ng-disabled="saving" ng-click="removeLastChoice()" tooltip-class="btn" tooltip-placement="bottom" uib-tooltip="Remove choice">
                            <span class="glyphicon glyphicon-minus"/>
                        </button>
                        
                    </div>
                    
                    <div class="tab-pane fade" id="preview">
                        <!--Preview-->
                        <div class="panel-body">
                            <p><span ng-bind-html="preview()"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    
    <div class="row">

        <button class="btn btn-success" ng-disabled="saving" ng-click="saveQuiz()">
            <b>Commit question</b>
        </button>
        <button class="btn btn-danger" ng-disabled="saving" ng-click="clearForms()">
            <b>Clear forms</b>
        </button>
    </div>  

    </div>
</div>