
<section ng-controller="studentClickCtrl">

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h2 class="modal-title">Question</h2>
            <!-- b>Time remaining: </b><span ng-bind="counter.val.cnt"></span> seconds -->                             
        </div>
        
        <div class="modal-body">                            
            <p ng-bind-html="quiz.val"></p>
            <span ng-repeat="option in options.val">
                <p>
                    <button class="btn" type="button" 
                            ng-click="$event.preventDefault(); 
                                    response.rsp = option.index; 
                                    ok()"><b>\{{ option.index }}.</b> \{{ option.text }}
                    </button>
                </p>                
            </span>        
        </div>
                
        <div class="modal-footer">
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>            
        </div>
    </script>           

</section>

