
<h2>Select course</h2>
<div class="row">    
{{#each courseList}}
    <div class="col-md-4">
        <a href="/course/{{this.name}}" class="btn btn-block btn-default" type="button" style="white-space: normal; text-align: left;">
            <b>{{this.name}}</b>
            <br/>
            <i style="color:#888;" >{{this.description}}</i>
        </a>
    </div>
{{else}}
<span><p>You haven't subscribed to any courses</p></span>               
{{/each}}        
</div>                 
