<h1>View Clicks </h1>

{{#if error }}
  <p>Oops, cannot find any clicks, because I hit an error!</>
  <p> {{ error }} </p>
{{else}}
  <b>These are all your clicks </b>
  <ul>
    {{#each clicks}}
    <li>{{choice}} at {{ submitTime }}</li>
    {{/each}}
  </ul>
{{/if}}
